/* line 3, ../styles/styles.scss */
.content-all {
  width: 640px;
  height: 960px;
  margin: 0 auto;
  background: #ff0066;
}

/* line 10, ../styles/styles.scss */
.content-att {
  width: 640px;
  height: 42px;
  background: #231F20;
  display: inline-block;
}

/* line 17, ../styles/styles.scss */
.att-icon {
  height: 20px;
  width: 26px;
  margin: 8px 0px 0px 10px;
  padding: 0px;
  vertical-align: top;
  display: inline-block;
}

/* line 26, ../styles/styles.scss */
.att-name {
  font-family: Helvetica;
  font-size: 20px;
  margin: 10px 0px 0px 5px;
  padding: 0px;
  color: #fff;
  vertical-align: top;
  display: inline-block;
}

/* line 36, ../styles/styles.scss */
.att-time {
  font-family: Helvetica;
  font-size: 20px;
  margin: 10px 0px 0px 165px;
  padding: 0px;
  color: #fff;
  width: auto;
  vertical-align: top;
  display: inline-block;
}

/* line 47, ../styles/styles.scss */
.att-percent {
  font-family: Helvetica;
  font-size: 20px;
  color: #fff;
  width: auto;
  margin: 10px 0px 0px 190px;
  padding: 0px;
  vertical-align: top;
  display: inline-block;
}

/* line 58, ../styles/styles.scss */
.att-batt {
  height: 33px;
  width: 17px;
  margin: 13px 0px 0px 10px;
  vertical-align: top;
  display: inline-block;
}
