@import "compass/css3";


* {
	font-family: Helvetica;
}

.content-all {
	width: 640px;
	height: auto;
	margin: 0 auto;
	background: none;
	border: 1px solid #ff0066;
}

.content-att {
	width: 640px;
	height:42px;
	background: #231F20;
	display: inline-block;
	border-bottom: 1px solid #44413d;
}

.att-icon {
	height: 20px;
	width: 26px;
	margin: 8px 0px 0px 10px;
	padding: 0px;
	vertical-align: top;
	display: inline-block;
}

.att-name {
	font-family: Helvetica;
	font-size: 20px;
	margin: 10px 0px 0px 5px;
	padding: 0px;
	color: #fff;
	vertical-align: top;
	display: inline-block;		
}

.att-time {
	font-family: Helvetica;
	font-size: 20px;
	margin: 10px 0px 0px 165px;
	padding: 0px;
	color: #fff;
	width: auto;
	vertical-align: top;
	display: inline-block;
}

.att-percent {
	font-family: Helvetica;
	font-size: 20px;
	color: #fff;
	width: auto;
	margin: 10px 0px 0px 190px;
	padding: 0px;
	vertical-align: top;
	display: inline-block;
}

.att-batt {
	height: 33px;
	width: 17px;
	margin: 13px 0px 0px 10px;
	vertical-align: top;
	display: inline-block;
}

.content-sorting {
	height: 124px;
	width: 640px;
	background: #21201b;
	display: inline-block;

	h1 {
		color: #fff;
		font-size: 50px;
		margin: 30px 0px 0px 20px;
		font-family: Helvetica;
		display: inline-block;
	}

	.sorting-arrow {
		width: 40px;
		height: 20px;
		display: inline-block;
	}
}

.content-nav {
	height: 87px;
	width: 640px;
	background: #fff;
	display: inline-block;	
}


.tab-menu {
	display: inline-block;

	ul {
		width: 620px;
		height: 64px;
		display: inline-block;
		margin: 0px;
		padding:0px;
	}

	li {
		display: inline-block;
		width: 300px;
		height: 82px;
		background: none;
		border: 1px solid #318dc5;
		margin: 0px 0px 0px 0px;
		padding:0px 0px 0px 0px;

		p  {
			font-size: 25px;
			color: #318dc5;
			margin: 13px 0px 0px 0px;
			text-transform: uppercase;
		}
	}
}

.content-deals {
	height: auto;
	width: 640px;
	display: inline-block;
}

.deals1 {
	height: 247px;
	width: 640px;
	display: inline-block;
	border-top: 1px solid #97b9dd;

	.deals-photo {
		height: 247px;
		width: 236px;
		display: inline-block;
	}	

	.deals-info {
		width: 238px;
		height: 162px;
		display: inline-block;
		vertical-align: top;
		border: 0px solid #ff0066;
		margin: 30px 0px 0px 15px;

		.deals-info-brand {
			color: #231f20;
			display: inline-block;
			font-size: 20px;
			text-transform: uppercase;
			vertical-align: top;
		}

		.deals-info-info {
			color: #133e67;
			display: inline-block;
			font-size: 23px;
			font-weight: bold;
			vertical-align: top;
		}

		.deals-info-time {
			color: #414142;
			display: inline-block;
			margin: 7px 0px 0px 0px;
			font-size: 17px;
			vertical-align: top;
		}
	}

	.deals-discount {
		width: 128px;
		height: 166px;
		display: inline-block;
		vertical-align: top;
		border: 0px solid #ff0066;
		margin: 30px 0px 0px 5px;

		.deals-discount-brand {
			color: #228ac4;
			display: block;
			font-size: 22px;
			vertical-align: top;
			margin: 0px;
			padding: 0px;
			height: 15px;
		}

		.deals-discount-info {
			color: #228ac4;
			display: block;
			font-size: 91px;
			vertical-align: top;
			margin: 0px;
			padding: 0px;
			height: 90px;
		}

		.deals-discount-time {
			color: #eeeff0;
			display: block;
			font-size: 21px;
			vertical-align: top;
			text-decoration:line-through;
		}
	}
}

