@import "compass/css3";

.content-all {
	width: 640px;
	height: 960px;
	margin: 0 auto;
	background: none;
	border: 1px solid #ff0066;
}

.content-att {
	width: 640px;
	height:42px;
	background: #231F20;
	display: inline-block;
}

.att-icon {
	height: 20px;
	width: 26px;
	margin: 8px 0px 0px 10px;
	padding: 0px;
	vertical-align: top;
	display: inline-block;
}

.att-name {
	font-family: Helvetica;
	font-size: 20px;
	margin: 10px 0px 0px 5px;
	padding: 0px;
	color: #fff;
	vertical-align: top;
	display: inline-block;		
}

.att-time {
	font-family: Helvetica;
	font-size: 20px;
	margin: 10px 0px 0px 165px;
	padding: 0px;
	color: #fff;
	width: auto;
	vertical-align: top;
	display: inline-block;
}

.att-percent {
	font-family: Helvetica;
	font-size: 20px;
	color: #fff;
	width: auto;
	margin: 10px 0px 0px 190px;
	padding: 0px;
	vertical-align: top;
	display: inline-block;
}

.att-batt {
	height: 33px;
	width: 17px;
	margin: 13px 0px 0px 10px;
	vertical-align: top;
	display: inline-block;
}

.content-sorting {
	height: 84px;
	width: 640px;
	background: #21201b;
	display: inline-block;

	h1 {
		color: #fff;
		font-size: 30px;
		font-family: Helvetica;
	}
}